.page_banner {
	display: flex;
	align-items: center;
	min-height: 400px;
    background: pink;
    background-position: center top;
	h1 {
		color: #ffffff;
		font-size: 50px;
        text-align: center;
        text-shadow: 4px 2px rgba(0, 0, 0, 0.5);
	}
}

.archive {
	.archive_wrap {
		padding: 60px 0px 120px;
    }
    .page_banner{
        background-image: url("~assets/image/manwei.jpeg");
    }
}

.timeline {
	position: relative;
	padding-top: 60px;
	&::before {
		content: attr(year);
		position: absolute;
		top: 0px;
		left: 50%;
		transform: translateX(-50%);
		font-size: 26px;
		font-weight: bold;
	}
	&::after {
		content: "";
		position: absolute;
		top: 44px;
		left: 50%;
		transform: translate(-56%, 0%);
		width: 8px;
		height: 8px;
		border: 4px solid rgba($color: $color, $alpha: 0.8);
		border-radius: 50%;
	}
	&:hover {
		.item {
			&:nth-of-type(2n),
			&:nth-of-type(2n-1) {
				animation: none;
			}
		}
	}
	@keyframes myTimeline {
		0% {
			transform: rotateY(0deg);
		}
		50% {
			transform: rotateY(180deg);
		}
		100% {
			transform: rotateY(0deg);
		}
	}
	@keyframes myTimeline2 {
		0% {
			transform: rotateY(0deg);
		}
		50% {
			transform: rotateY(-180deg);
		}
		100% {
			transform: rotateY(0deg);
		}
	}
	.item {
		position: relative;
		width: 50%;
		padding: 10px 0px 40px;
		box-sizing: border-box;
        text-shadow: 3px 3px 4px #ccc;
		&:nth-of-type(1) {
			padding: 30px 0px 40px;
			&::before {
				top: 24px;
			}
		}
		&:nth-of-type(2n-1) {
			padding-right: 30px;
			text-align: right;
			border-right: 2px solid #eef5f9;
			transform-origin: calc(100% - 1px);
			animation: myTimeline infinite 8s;
			animation-delay: 2s;
			&::before {
				right: 0px;
				transform: translateX(50%);
			}
			h3.line_title {
				margin-left: auto;
			}
			.date {
				margin-left: 20px;
			}
		}
		&:nth-of-type(2n) {
			margin-left: auto;
			margin-right: 2px;
			padding-left: 30px;
			border-left: 2px solid #eef5f9;
			animation: myTimeline2 infinite 8s;
			animation-delay: 2s;
			transform-origin: calc(0% + 1px);
			&::before {
				left: 0px;
				transform: translateX(-50%);
			}
			.date {
				order: -1;
				margin-right: 20px;
			}
		}
		&::before {
			content: attr(month);
			position: absolute;
			top: 3px;
			line-height: 1.2;
			padding: 6px 8px 8px;
			box-sizing: border-box;
			background: $background;
			font-weight: bold;
			font-size: 18px;
			color: $color;
		}
		&:hover {
			.item_main {
				margin-top: 0%;
			}
		}
	}
	.item_wrap {
		overflow: hidden;
	}
	.item_main {
		// margin-top: -100%;
		transition: all 0.3s;
	}
	.line {
		display: flex;
		// align-items: center;
		margin-bottom: 20px;
		&:last-of-type {
			margin-bottom: 0px;
		}
		.date {
			width: 30px;
			font-weight: 200;
			color: $color;
		}
	}
	a {
		color: $color;
		@include elps-wrap(2);
		&:hover {
			color: $currentColor;
		}
	}
}
