.signin {
	display: flex;
	align-items: center;
	min-height: calc(100vh - 60px);
	.signin_container {
		max-width: 360px;
		width: 100%;
		margin: 0 auto;
		padding-bottom: 8px;
		box-sizing: border-box;
		background: #ffffff;
		overflow: hidden;
	}
	.signin_head {
		padding: 0px 24px 20px;
		box-sizing: border-box;
		text-align: center;
		i {
			font-size: 100px;
			color: #a1a1a1;
		}
	}
	.signin_main {
		padding: 0px 24px;
		box-sizing: border-box;
	}
	button {
        width: 100%;
        margin-top: 20px;
		background: $currentColor;
        border-color: $currentColor;
        transition: all .3s;
		&:hover,&:focus {
			background: none;
            border-color: $currentColor;
            color: $currentColor;
		}
	}
}
