body.postDetail {
	.page_banner {
		align-items: flex-end;
		h1 {
			margin-bottom: 20px;
			font-size: 32px;
			text-align: left;
		}
		.minContainer {
			width: 100%;
		}
		.post_info {
			margin-bottom: 40px;
			color: #ffffff;
		}
		span.date {
			margin-right: 10px;
		}
	}
}
.post_detail_wrap {
	padding: 30px 0px 30px;
	.markdown-body {
		font-family: inherit;
		z-index: 99;
		border: none;
		overflow: hidden;

		.v-note-panel {
			border: none;
		}
		.v-note-show .v-show-content:nth-of-type(n) {
			// background-color: #ffffff !important;
			padding: 0px;
		}
	}
	.details_main {
		font-size: 16px;
		color: #24292e;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 24px;
		margin-bottom: 16px;
		font-weight: 600;
		line-height: 1.25;
	}
	h2 {
		padding-bottom: 0.3em;
		border-bottom: 1px solid #eaecef;
		font-size: 24px;
	}
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 16px;
	}
	h5 {
		font-size: 14px;
	}
	h6 {
		font-size: 12px;
	}
	p,
	blockquote,
	ul,
	ol,
	dl,
	table,
	pre {
		margin-top: 0;
		margin-bottom: 16px;
	}
	ol,
	ul {
		padding-left: 2em;
	}
	pre {
		padding: 16px;
		overflow: auto;
		font-size: 85%;
		line-height: 1.45;
		background-color: #f6f8fa;
		border-radius: 3px;
		word-wrap: normal;
		code {
			display: inline;
			padding: 0;
			margin: 0;
			overflow: visible;
			line-height: inherit;
			word-wrap: normal;
			background-color: transparent;
			border: 0;
			font-size: 100%;
			word-break: normal;
			background: 0 0;
		}
	}
	a {
		color: #0366d6;
	}
	blockquote {
		padding: 0 1em;
		margin: 0px;
		color: #6a737d;
		border-left: 0.25em solid #dfe2e5;
	}
}
