html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
input,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
textarea,
article,
aside,
audio,
canvas,
figure,
footer,
header,
mark,
menu,
nav,
section,
time,
video {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section,
blockquote {
	display: block;
}

ul,
ol {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
	width: auto;
	max-height: 100%;
	border: 0 none;
	margin: 0 auto;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.icon {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
	font-size: 20px;
	margin-right: 6px;
}

ins {
	text-decoration: underline;
}

del {
	text-decoration: line-through;
}

mark {
	background: none;
}

input::-ms-clear {
	display: none !important;
}

html {
	height: 100%;
}

body {
	// font-family: Verdana, "宋体", sans-serif;
	height: 100%;
	font-family: "Noto Serif SC", "Source Han Serif SC", "Source Han Serif",
		"source-han-serif-sc", "PT Serif", "SongTi SC", "MicroSoft Yahei",
		Georgia, serif;
	font-size: 14px;
	color: #1a1a1a;
	background: #eef5f9;
}

a {
	text-decoration: none !important;
	transition: all 0.3s;
}

.bigContainer {
	padding: 0px 20px;
	margin: 0 auto;
	box-sizing: border-box;
}
.container {
	max-width: 1200px;
	padding: 0px 10px;
	margin: 0 auto;
	box-sizing: border-box;
}

.clearfix:after {
	content: "";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
}

.clearfix {
	/* 为了照顾ie6浏览器*/
	zoom: 1;
}

.page-enter-active,
.page-leave-active {
	transition: opacity 0.5s;
}

.page-enter,
.page-leave-active {
	opacity: 0;
}

#__nuxt,
#__layout,
#__layout > div {
	height: 100%;
}

.hover_scale {
	i {
		display: inline-block;
	}
	&:hover {
		i:nth-of-type(1) {
			animation: scale 0.5s infinite;
		}
	}
}
.hover_rotate {
	i {
		display: inline-block;
	}
	&:hover {
		i:nth-of-type(1) {
			animation: rotate 0.5s infinite;
		}
	}
}
.hover_translate {
	i {
		display: inline-block;
	}
	&:hover {
		i:nth-of-type(1) {
			animation: translate 0.5s infinite;
		}
	}
}
.hover_translate_vertical {
	i {
		display: inline-block;
	}
	&:hover {
		i:nth-of-type(1) {
			animation: translateVertical 0.5s infinite;
		}
	}
}
@keyframes scale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.7);
	}
	100% {
		transform: scale(1.2);
	}
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	30% {
		transform: rotate(45deg);
	}
	60% {
		transform: rotate(-45deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
@keyframes translateVertical {
	0% {
		transform: translate(0%, 0%);
	}
	30% {
		transform: translate(0%, 4px);
	}
	60% {
		transform: translate(0%, -4px);
	}
	90% {
		transform: translate(0%, 0%);
	}
}
@keyframes translate {
	0% {
		transform: translate(0%, 0%);
	}
	30% {
		transform: translate(4px, 0%);
	}
	60% {
		transform: translate(-4px, 0%);
	}
	90% {
		transform: translate(0%, 0%);
	}
}

.card_list{
    display: flex;
    margin-left: -20px;
}
.card {
    margin-left: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    background: #ffffff;
}
.col1{
    width: calc(10% - 20px);
}
.col2{
    width: calc(20% - 20px);
}
.col3{
    width: calc(30% - 20px);
}
.col4{
    width: calc(40% - 20px);
}
.col5{
    width: calc(50% - 20px);
}
.col6{
    width: calc(60% - 20px);
}
.col7{
    width: calc(70% - 20px);
}
.col8{
    width: calc(80% - 20px);
}
.col9{
    width: calc(90% - 20px);
}


@import '/menu.scss'