.app_dropdown {
	.el-dropdown-menu__item:hover {
		color: $currentColor !important;
		background-color: rgba($color: $currentColor, $alpha: 0.1) !important;
	}
}

.app_header {
	position: fixed;
	top: 0px;
	z-index: 999;
	width: 100%;

	.page_header {
		min-height: 76px;
		padding: 0px 30px;
		box-sizing: border-box;
		transition: all 0.3s;
		background: rgba($color: #fff, $alpha: 0.95);
		box-shadow: 0 1px 30px -8px rgba(0, 0, 0, 0.5);
		nav#app_menu {
			ul.menu {
				display: flex;
			}
		}
	}

	.logo {
		float: left;
		padding-top: 20px;
		font-size: 25px;
		a {
			color: #464646;
			&:hover {
				color: $currentColor;
				rt {
					opacity: 1;
				}
			}
		}
		ruby {
			-webkit-ruby-position: after;
			transition: all 0.3s;
		}
		rt {
			transition: all 0.3s;
			opacity: 0;
		}
	}

	.head_menu {
		// display: none;
		margin: 0 auto;
		.el-menu {
			border: none;
			transition: all 0.5s ease-out;
			animation: searchbox 1s;
		}
		@keyframes searchbox {
			0% {
				opacity: 0;
				transform: translateX(30px);
			}
			100% {
				opacity: 1;
				transform: translateX(0);
			}
		}
	}
	.search {
		float: right;
		margin-top: 22px;
		padding: 4px 7px;
		font-size: 18px;
		cursor: pointer;
		transition: all 0.3s;
		&:hover {
			color: $currentColor;
		}
	}
	.navigator {
		float: right;
		margin-top: 22px;
		margin-left: 10px;
		.el-dropdown {
			display: block;
			border-radius: 50%;
			overflow: hidden;
		}
		i {
			font-size: 32px;
		}
	}
	.responsive_menu_toggle {
		float: right;
		margin-top: 22px;
		padding: 4px 7px;
		cursor: pointer;
		transition: all 0.3s;
		i {
			font-size: 22px;
		}
	}
	.fixed_search {
        position: fixed;
        z-index: 9999;
		top: 0px;
        left: 0px;
        display: flex;
        align-items: center;
		width: 100%;
		height: 100%;
		padding: 40px;
		box-sizing: border-box;
		background-color: #ffffff;
        animation: showsearch .3s;
        .search-main{
            max-width: 100%;
            margin: 0 auto;
            text-align: center;
            i.el-icon-search{
                margin-bottom: 30px;
                font-size: 30px;
            }
        }
		.colse {
			position: absolute;
			right: 30px;
			top: 20px;
			font-size: 30px;
			cursor: pointer;
			transition: all 0.3s;
			&:hover {
				color: #fe4e0e;
			}
        }
        .el-autocomplete{
            display: block;
            max-width: 100%;
            width: 460px;
        }
	}
	@keyframes showsearch {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}
.menu_drawer {
	.el-drawer {
		width: 250px !important;
		background: #191919;
	}
	.item {
		padding: 4px 0px;
		box-sizing: border-box;
		border-top: 1px solid rgba($color: #fff, $alpha: 0.04);
		a {
			display: block;
			padding: 10px 20px;
			color: #a6a6a6;
		}
		ul {
			box-sizing: border-box;
			a {
				padding: 10px 20px 10px 30px;
			}
		}
		li {
			border-top: 1px solid rgba($color: #fff, $alpha: 0.04);
		}
		&:nth-of-type(1) {
			border: none;
		}
		&:last-of-type {
			border-bottom: 1px solid rgba($color: #fff, $alpha: 0.04);
		}
		&.active {
			.sub_menu {
				height: auto;
				padding-top: 24px;
			}
		}
	}
	.item_main {
		display: flex;
		align-items: center;
		.down {
			width: 30px;
			height: 30px;
			line-height: 30px;
			padding-right: 20px;
			text-align: center;
			color: #a6a6a6;
		}
		a {
			max-width: 200px;
			width: 100%;
		}
	}
	.sub_menu {
		// display: none;
	}
	.search {
		width: 30px;
		height: 30px;
		line-height: 30px;
		margin: 0 auto;
		text-align: center;
		font-size: 20px;
		color: #a6a6a6;
		cursor: pointer;
	}
}

nav#app_menu {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
	display: flex;
	ul.menu {
		display: none;
		animation: menubox 1s;
		margin: 0 auto;
	}
	li.item {
		position: relative;
		margin: 0 8px;
		&::before {
			content: "";
			position: absolute;
			left: 50%;
			bottom: 0px;
			transform: translate(-50%, 10px);
			width: 100%;
			height: 4px;
			background: $currentColor;
			transition: all 0.3s;
			opacity: 0;
		}
		&:hover {
			&::before {
				opacity: 1;
				transform: translate(-50%, 0px);
			}
			> a {
				color: $currentColor;
			}
		}
		&.active {
			&::before {
				opacity: 1;
				transform: translate(-50%, 0px);
			}
			> a {
				color: $currentColor;
			}
		}
		> a {
			display: flex;
			align-items: center;
			padding: 27px 10px;
			font-size: 16px;
			color: $menuColor;
		}
		i {
			margin-top: 2px;
			margin-right: 5px;
		}
		&:hover {
			ul.sub_menu {
				display: block;
			}
		}
	}
	ul.sub_menu {
		display: none;
		opacity: 1;
		position: absolute;
		background: $subMenuBackground;
		padding: 10px;
		top: 70px;
		right: -13px;
		width: 80px;
		text-align: center;
		z-index: 9999;
		border-radius: 5px;
		box-shadow: 0 1px 40px -8px rgba(0, 0, 0, 0.5);
		animation: subbox 0.5s;
		&::before {
			content: "";
			position: absolute;
			top: -20px;
			left: 50%;
			margin-left: -10px;
			border-width: 10px;
			border-style: solid;
			border-color: transparent transparent $subMenuBackground;
		}
	}
	li.sub_item {
		&.active {
			> a {
				color: $currentColor;
			}
		}
		a {
			display: inline-block;
			width: 100%;
			padding: 10px 0px;
			color: $menuColor;
		}
		&:hover {
			a {
				color: $currentColor;
			}
		}
	}

	@keyframes menubox {
		0% {
			opacity: 0;
			transform: translateX(30px);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes subbox {
		0% {
			opacity: 0;
			transform: translateY(10px);
		}
		100% {
			opacity: 1;
			transform: translateY(0px);
		}
	}
}
