$menuColor: #666666;
$currentColor: #fe4e0e; //fe9600
$subMenuBackground: #fff;
$background: #fff;
$color: #2f4055;
$titleColor: #1a1a1a;

@mixin elps-wrap($n) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box; //-webkit-box为旧的属性值，2012年最新的标准草案为flex，如果把值该为flex，将不支持多行省略号。
    -webkit-line-clamp: $n; //webkit支持此属性，并且是一个不规范的属性，没有出现在css规范的草案中。必须结合display: -webkit-box和-webkit-box-orient: vertical;属性一起使用
    -webkit-box-orient: vertical;
}